body {
    background-color: black;
    color: white;
}
.header {
    display: flex;
    justify-content: center;
}
.inputboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 10px;
}
.inputbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}
button {
    padding: 10px 40px;
}
a {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: none;
    font-size:  30px;
    color: white;
    padding: 10px;
}